body {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.header {
  margin: 50px 0 50px;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

input {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

button {
  padding: 5px;
  background-color: #e30;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: #fff;s
}

#errorMessage {
  color: red;
  font-size: 12px;
  margin-bottom: 30px;
  height: 20px;
}

.main-styles {
  border: 2px solid #ddd;
  border-radius: 30px;
  padding: 50px;
  width: 400px;
  margin: auto;
}

#main > div {
  font-size: 32px;
  margin-top: 20px;
  cursor: pointer;
}

#main > img {
  width: 160px;
  height: 160px;
}
